@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #dbe2da;
  --foreground: #000000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #dbe2da;
    --foreground: #000000;
  }
}

.btnBgColor {
  background-color: #b01018;
}

.inputBg {
  background: #f6f5f1;
}

.placeholderColor::placeholder {
  color: #000000;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
